body{
    background-color: lightsalmon;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    background-color: white;
    border: 1px blue solid;
    margin-top: 50px;
    margin-bottom: 40px;
}
img{
    margin-left: 80px;
    margin-right: 80px;
    width: 100px;
    height: 100px;
}
#imagen2{
    margin-top: 250px;
}
#imagen3{
    margin-top: 350px;
}