#p1{
    letter-spacing: 10px;
}
#p2{
    letter-spacing: 15px;
}
#p3{
    line-height: 10px;
}
#p4{
    line-height: 35px;
}
#p5{
    word-spacing: 10px;
}
#p6{
    word-spacing: 15px;
}
#p7{
    text-shadow: black 0px 0px 10px;
}
#p8{
    text-shadow: black 0px 0px 20px;
}
#p9{
    text-indent: 10px;
}
#p10{
    text-indent: 15px;
}