div{
    border: 1px solid lightgray;
    padding: 3px;
    position: absolute;
}
table, td, th{
    border: 1px solid #A7C942;
}
th{
    background-color: #A7C942;
    color: #ffffff;
}
tbody tr:nth-child(even){
    background-color: #EAF2D3;
}
tbody tr:nth-child(odd){
    background-color: #ffffff;
}
td:hover{
    background-color: lightyellow;
}
caption{
    caption-side: bottom;
}